.mario{
    position: relative;
    transform: translate(-50%);
    width: 4rem;
    height: 5rem;
    background-image: url(./idle.png);
    background-repeat:no-repeat;
    background-size:contain;
    transform-origin: 0;
    top: 50%;
    left: 50%;
    z-index: 1000;
}

.run{
    animation: walk 0.18s;
    animation-iteration-count: infinite;
}

.right{
    transform-origin: center;
}

.jump{
    background-image: url(./left/jumpstate1.png);
}

.fall{
    background-image: url(./left/jumpstate2.png);
}

.dead{
    background-image: url(dead.png);
}

@keyframes walk {
    from{
        background-image: url(./left/runstate1.png);
    }
    to{
        background-image: url(./left/runstate2.png);
    }
}